# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
*.log

# Data and Models 
data/
models/
output/
tactifoot_kp_training/
results/
external/
runs/
components/
*.sh
*.txt
*.pt
*.pth
*.yaml
!configs/
!configs/**/
!configs/**/*.yaml
/config.yaml
*.local.yaml
.config/

# IDE specific
.idea/
.vscode/
